$page-width: 85%;

.pivotal-slide {
  zoom: 1.5;
}

.milestones {
  display: inline-block;
  float: left;
}

.milestone-title {
  font-size: 60px;
  font-weight: 300;
}

.milestone {
  text-align: left;
  width: $page-width;
  margin: 5em auto 0;

  h2 {
    font-weight: 700;
  }
}

.points {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.points-progress {
  margin-top: -5em;

  & > p {
    font-size: 18px;
  }
}

.points-header {
  font-variant: small-caps;
  font-weight: 700;
  max-width: 300px;
}

.milestones-container, .milestones-header {
  justify-content: center;
  align-content: center;
  width: $page-width;
  display: block;
  margin: 8em auto;
  color: white;
  font-weight: 700;

  .bb-r-container > .bb-r-container-content-block-align-right.bb-r-container-content-block {
    padding-top: 20px;

  }
}

.bar-graph {
  background-color: rgba(0,0,0,0.3);
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 3px;
}

.bar {
  width: 0;
  height: 80px;
  background-color: white;
  margin: 0.2em 0;
  border-radius: 3px;
}

.milestone-info-block {
  display: flex;
  text-align: right;

  .milestone-info:first-child {
    padding-right: 2.5em;
  }

  .milestone-info:last-child {
    min-width: 275px;
    border-left: 1px solid rgba(255,255,255,0.4);
  }
}

.milestone-caption {
  color: rgba(255,255,255,0.8);
}

.title-weight {
  font-weight: 600;
}

.milestone-subheader {
  line-height: 40px;
  margin-top: 20px
}

.milestone-value {
  font-weight: normal;
}

.fixed-width-medium {
  width: 240px;
}
